.ProjectsContainer{
    /*margin: 58.2rem auto 6.3rem;*/
    position: relative;
    background-color: black;
    border: .4rem solid #008068;
}

.ProjectTitle {
    margin: 5.9rem auto 4.4rem;
    width: 100%;
    text-align: center;
    color: white;
    font: 700 3.2rem sans-serif;
    text-shadow: 1px 1px 2px black, yellow 1px 0 30px;
}

.ProjName {
    margin-top: 10%;
}

.ProjImg {
    max-width: 100%;
    border-radius: .25rem;
}

/*    when the screen is less than 700px apply these attr.   */
@media ( max-width: 43.75em ) {
    .ProjectsContainer {
        margin: 40em auto 6.3em;
    }
}

/*    when the screen is greater than 700px */
@media ( min-width: 43.75em) {
    .ProjectsContainer {
        margin: 80em auto 6.3em;
    }
}