.Myform {
    text-align: left;
    box-shadow: 0 .15rem .2rem #ccc;
    border: .15rem solid white;
    padding: 2%;
    margin-bottom: 5%;
    border-radius: 1rem;
}

.Topmrgn{
    padding-top: 4.4rem;
}