body, html {
    background-color: #0f1a25;
    color: white;
}

div h4 {
    margin-bottom: 3rem;
}

.btn {
    margin-bottom: .4rem;
}

.nav-link {
    color: black;
}
.nav-link:hover {
    background-color: #ffc1077a;
    border-radius: .3rem;
}

.active {
    border: 2px solid blue;
    border-radius: .3em;
}

.top-nav{
    background: linear-gradient(#3aa953, #176758);
    border-bottom: .4rem solid #008068;
    height: auto;
}

.bot-nav{
    background: linear-gradient(#176758, #3aa953);
    border-top: .4rem solid #008068;
}

.container {
    margin: 4rem auto;
    padding: 0rem 0.2rem .1rem;
    border-radius: .4rem;
}

.proj-clr {
    background: linear-gradient(#353638, black);
}

/*   meaning: select all elements(*) that are children(>) of .btn-row    */
.btn-row > * {
    margin: .63rem 2%;
}

.popover-header {
    color: black;
    background-color: #3fff007a;
}

.page404 {
    min-height: 100vh;
    width: 100%;
}
